*.filters
*.vcxproj
*.idb
*.tlog
*.lastbuildstate
*.sln
*.ipch
*.opendb
*.db
/.metadata/
/.recommenders/
*.prefs
*.exp
*.sdf
*.zip
*.ipdb
*.iobj
*.db-wal
*.db-shm
Uebung2IB/
*.json
*.res
*.sqlite
*.rc
